body {
    background-color: black;
    font-family: Roboto, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: whitesmoke;
}

img {
    border-radius: 1%;
}

